body {
  padding: 0px;
  margin: 0px;
  color: #000;
  background-color: #ffffff;
  font-family:"Noto Sans Japanese"  ;
  max-width: 960px;
  
}

/*ナビ*/
nav {
  display: flex;
  justify-content: space-between;
  font-size: 34px;
  font-weight: bold;
  margin: 20px auto 20px auto;
  align-items: baseline;
}

nav a {
  text-decoration: none;
  margin: auto 20px;
}


/*ナビのMyProfile*/
h1 {
  border: 1px solid black;
  margin: auto 20px;
  padding: 10px 30px;
}

/*メイン画像*/
article > img {
  width: 100%;
}

h2 {
 font-size: 34px;
 font-weight: bold;
 text-align: center;
 margin: 40px;
}

/*About*/
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#about img {
  border-radius: 150px 150px 150px 150px;
}

#about p {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
}
/*リセットcssで消したリストタグ*/
#about ul {
  font-size: 18px;
  margin: 1rem 0;
  padding-left: 40px;
  list-style-type: disc;
}

/*works*/
#works {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#works P {
  font-size: 18px;
}
#works img {
  padding-bottom: 20px;  
}
#works div {
  width: 25%;
}

/*footer*/
footer {
  text-align: center;
  margin: 20px auto;
}

@media screen and (max-width: 767px) {
  #works div {
    width: 100%;
    text-align: center;
    padding: 20px;
  }
}